@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --higlight-color: hsl(277, 64%, 61%);
  --head-white: hsl(0, 0%, 100%);
  --para-white: hsla(0, 0%, 100%, 0.75);
  --stat-head-white: hsla(0, 0%, 100%, 0.6);
  --font-size: 1.5rem;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100vh;
  max-width: 1440px;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--para-white);
  font-size: var(--font-size);
  position: relative;

  font-family: Inter, sans-serif;
  font-weight: 400;
}

::selection {
  background-color: blue;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  /* background-color: red; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.highlighted {
  color: var(--higlight-color);
}

.card__container {
  width: 1080px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  overflow: hidden;
}
.card__body {
  background-color: var(--card-bg-color);
  padding: 6rem 10rem 8rem 6rem;
  display: grid;
}
.card__title {
  font-size: 3.5rem;
  color: var(--head-white);
}
.card__text {
  font-size: 1.5rem;
  color: var(--para-white);
  line-height: 2.5rem;
}

.card__stats__container {
  display: flex;
  place-items: flex-end;
  /* justify-content: space-between; */
  column-gap: 6rem;
}
.card__stat--stat {
  color: var(--head-white);
  font-size: 2.4rem;
  font-weight: 700;
  font-family: Lexend Deca, sans-serif;
}
.card__stat--heading {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: var(--stat-head-white);
  letter-spacing: 1px;
  margin-top: 0.5rem;
}
.card__img {
  position: relative;
}
.card__img img {
}

.card__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(277, 70%, 40%);
  opacity: 0.6;
}

@media (max-width: 1100px) {
  body {
    max-width: 375px;
  }
  .card__container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 335px;
    place-items: center;
    text-align: center;
    overflow: hidden;
  }

  .card__img {
    width: 100%;
  }
  .card__img img {
    content: url('images/image-header-mobile.jpg');
    width: 100%;
    display: block;
  }
  .card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4rem 3rem;
    width: 100%;
  }
  .card__stats__container {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-top: 5rem;
  }
  .card__title {
    margin-bottom: 2rem;
    font-size: 2.9rem;
  }
}
